.actors {

  &__item {
    padding: 1rem;
    color: black;

    &:link,
    &:visited {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }

    & figure {
      overflow: hidden;
    }
  }

  &__item-img {
    width: 15rem;
    height: auto;
    transition: all .3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    padding: .5rem;

    &:link {
      color: black;
    }
  }

  &__role {
    display: inline-block;
    font-size: 1.2rem;
    padding: .1rem .5rem;
  }
}