.header__search-box {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
}

.search-box__input {
  outline: none;
  border: none;
  background-color: #EEEEEE;
  border-radius: 100px;
  height: 3rem;
  padding: 0 2rem;
  width: 90%;
  transition: all .3s;
}

.search-box__input:focus {
  width: 100%;
  background-color: #E4E4E4;
}