* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;;
}

.container {
  width: 120rem;
  margin: 0 auto;

}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  margin-top: 5rem;
}

.flex-box {
  display: flex;
}

.top-gutter-md {
  margin-top: 5rem;
  margin-bottom: 5rem;
}