.header {
  border-bottom: 1px solid lightgray;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.header__logo-box {

}

.logo-box__logo {
  width: 20rem;

}

.nav-box__list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-box__list-item a:link,
.nav-box__list-item a:visited {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all .4s;
}

.nav-box__list-item {
  transition: all .4s;
}

.nav-box__list-item a:hover,
.nav-box__list-item:hover {
  transform: scale(1.1) translateY(-2px);
  color: red;
}

.nav-box__list-item a:active,
.nav-box__list-item:active {
  transform: translateY(0);
}