.footer {
  margin-top: 10rem;
  border-top: 2px solid #ddd;

  &-container {
    width: 120rem;
    margin: 0 auto;
    display: flex;
    padding: 5rem 1rem;
  }

  &__logo-box {
    height: 10rem;
    width: auto;

    &-img {
      height: 10rem;
      width: 100%;
    }
  }

  &__info-box {
    display: flex;
    justify-content: space-between;
    margin-left: auto;

    & div:not(:last-child) {
      margin-right: 10rem;
    }
  }

  &__nav-box {

    &-list {
      list-style: none;

      &-item {
        transition: all .3s;

        &:hover {
          cursor: pointer;
          transform: translateY(-2px);
        }
        &:active {
          transform: translateY(0);
        }

        &-link:link,
        &-link:visited {
          text-decoration: none;
          color: #333333;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.6;
          letter-spacing: .7px;
        }
      }
    }
  }

  &__copyright {
    text-align: center;
    padding: 2rem 0;

    &-text {
      color: #333333;
      font-size: 1.2rem;
      letter-spacing: .7px;

    }
  }
}